#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 990;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0px 15px 15px 15px;
    border-radius: 4px;
  }


  #myBtn:hover {
    background-color: #555;
  }

  .arrow {
      font-size: 3rem;
  }