
* {box-sizing: border-box;}

/* Set height of body and the document to 100% */
* {
	margin: 0;
    padding: 0;
    font-weight: bolder;
 
}

*:focus {
  outline: 0;
}

.text-center{
  text-align:center;
  z-index: -99;
}
#cs {
  padding-top: -40px;
}
.proj-name {
  text-align: center;
}
*{
  background-color: transparent;
}

.is-active .menu {
  display: block;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color:transparent;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  position: relative; }
  body:after {
    position: fixed;
    top: -150px;
    right: -50px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 600px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  body:before {
    position: fixed;
    top: 500px;
    left: -100px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); 
  }

.scroll {
  font-size: 2vw;

}

  .supermini-nav {
    visibility: hidden;
  }

@media (max-width: 400px) {
  .owl-carousel {
    margin-top: -110px;
    height: auto;
    background: transparent;
    padding: 0px;
  }
}
#Home {background-color: transparent;}
#News {background-color: transparent;}
#Contact {background-color: transparent;}
#About {background-color: transparent;}



/* Make the text responsive */
.download-cv, .btn-github {
   padding: 5px;
   color: #ccc;
   background: transparent;
  
}



#download-resume, #git-btn {
  font-size: 3vw;
}

#sophis {
  font-size: 4vw;
}

#sophis-lao {
  font-size: 2vw;
}


#icon-home_1 {
  float: left;
  color: red;

}

#icon-home_2{
  float: right; 

}

.download-cv:hover, .btn-github:hover {
    background: #ccc;
    color: #121212;
    border: 1px solid #121212;
}

#ics {
    font-size: 3vw;
    height: auto;
}

#ics-a {
    
    padding: 0px;
    display: none;
}
  
/* Contact Accordio */
  .accordion {
    background-color: transparent;
    color: #444;
    font-weight: bolder;
    cursor: pointer;
    padding: 18px;
    width:100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s;
    border: 1px solid #ccc;
  
  }

  
  .active1, .accordion:hover {
    background-color: #ccc; 
    
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #ccc;
    overflow: hidden;
    width: 100%;
    color: #121212;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active1:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  
  #cs {
    padding-bottom: -300px;
    margin-bottom: -205px;
    z-index: 1000;
    overflow-x: hidden;
  }
  
/* Proj photo*/ 


body {
  font-family: Arial;
  margin: 0;
}



img {
  vertical-align: middle;
}



  

