
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
* {
	margin: 0;
    padding: 0;
    font-weight: bolder;
 
}


#cs {
  padding-top: -40px;
}
.proj-name {
  text-align: center;
}
*{
  background-color: transparent;
}
body {
  
  font-family: "Poppins", Arial, sans-serif;
  background-color:transparent;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  position: relative; }
  body:after {
    position: fixed;
    top: -150px;
    right: -50px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 600px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  body:before {
    position: fixed;
    top: 500px;
    left: -100px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); 
  }

/* Style tab links */
.tablink {
  background-color: #555;
  color: white  ;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
.scroll {
  font-size: 2vw;

}



/* Style the tab content (and add height:100% for full page content) */
.tabcontent, .projects-tabcontent  {
  color: #ccc;

  display: none;
  padding: 100px 20px;
  height: 456px;
}

#main-navigator { position: fixed; width: 100%; z-index: 100;}




@media (max-width: 630px){

  #main-navigator{
     visibility:hidden;
     transition: 3s;
     content: "bye";
  }

  

  .mini-nav {
    visibility:visible;
  }
}

@media (max-width: 300px) {
  .owl-carousel {
    margin-top: -120px;
    height: auto;
    background: transparent;
    padding: 0px;
  }
}
#Home {background-color: transparent;}
#News {background-color: transparent;}
#Contact {background-color: transparent;}
#About {background-color: transparent;}



/* Make the text responsive */
.download-cv, .btn-github {
   padding: 5px;
   color: #ccc;
   background: transparent;
  
}

#download-resume, #git-btn {
  font-size: 3vw;
}

#sophis {
  font-size: 4vw;
}

#sophis-lao {
  font-size: 2vw;
}


#icon-home_1 {
  float: left;
  color: red;

}

#icon-home_2{
  float: right; 

}


@media(max-width: 333px) {
  #icon-home_1, #icon-home_2 {
    

  }
 
}


.download-cv:hover, .btn-github:hover {
    background: #ccc;
    color: #121212;
    border: 1px solid #121212;
}

* {
  box-sizing: border-box
  }
  body {font-family: "Lato", sans-serif;
  
  }

  
  .skills-tab{
    float: left;
    border: 1px solid #ccc;
    background-color: transparent;
    width: auto;
    height: 450px;
    max-height: 450px;
  }

  .db-img {
    height: auto;
    margin: 100%;
  }

  
  /* Style the tab */
  .Projects-tab{
    float: left;
    border: 1px solid #ccc;
    background-color: transparent;
    width: 30%;
    height: 454px;
    
  }
  
  /* Style the buttons inside the tab */
  .skills-tab button, .Projects-tab button {
    display: block;
    background-color: inherit;
    color: #ccc;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  a {
     text-align: justify;
  }
  
  /* Change background color of buttons on hover */
  .skills-tab button:hover, .Projects-tab button:hover{
    background-color: #ccc;
    color: #121212;
  }
  
  /* Create an active/current "tab button" class */
  .skills-tab button.active, .Projects-tab button.active {
    background: #ccc;
    color: #121212;
  }

  #resume-text{
    font-size: 160px;
  }
  
  /* Style the tab content */
  .resume-tabcontent, .projects-tabcontent {
    
    padding: 0px 0px;
    border: 1px solid #ccc;
    width: auto;
    border-left: none;
    height: auto;
  }

  a {
    text-align: left;
  }
  
.proj-grid-container {
height: 456px;
max-height: auto;
}

#bold-text {
  font-size: 160px;
}



@media (max-width: 900px){
    .proj-grid-item{
      font-size: 12px;
     }
    .lbl-proj-item {
      font-size: 15px;
    
    }
    .tablink {
      font-size: 10px;
  
      
      
    }
   .img-container{
    width: auto;
    
  }
  
.mini-nav {
   
   visibility: hidden;
    background-color: red;
}

#ics {
    font-size: 3vw;
    height: auto;
}

#ics-a {
    
    padding: 0px;
    display: none;
}
    

    #main-navigator .nav-icon{
      display: block;
    }
    
    .skills-grid-item{
      font-size: 10px;
    }
    .lbl-resume-item {
      font-size: 15px;
    }
   
  }


  /* */
  .resume-grid-container, .proj-grid-container, .skills-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    padding: 0px;
    
  }


  @media (max-width: 426px){
    .proj-grid-container {
        font-size: 0px;
    }
  }


  @media (max-width: 426px){
    .skills-grid-container {
        font-size: 0px;
    }
  }

  @media (min-width: 576px) {
    .resume-grid-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .resume-grid-container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .resume-grid-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .resume-grid-container {
      max-width: 1140px; } }



      
  @media (min-width: 576px) {
    .skills-grid-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .skills-grid-container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .skills-grid-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .skills-grid-container {
      max-width: 1140px; } }


.resume-grid-container{
  max-height: 452px;
}


.skills-grid-container{
  max-height: 450px;
}
  #proj-img {
    display: grid;
    grid-template-columns: auto;
    background-color: transparent;
    padding: 20px;
    background-color:transparent;
    z-index: 100;
   
  }

@media (max-width: 400px){

  

}

.caption-container {
  padding-top: 175px;
 
}
.img-Slides{
  
  display: none;
  
}

.c

#rfb-grid-container{
  height: 454px;
}
  #proj-img {
     width: 100%;
     height: auto;
  }
  
  .skills-grid-item, .educ-grid-item, .Exp-grid-item{
    background-color: transparent;
    padding-left: 3px;
    margin-left: 10px;
    text-align: left;
    
  }


    .proj-grid-item{
    background-color: transparent;
    padding-left: 3px;
    margin-left: 10px;
    text-align: left;
    
  }

  
/* Contact Accordio */
  .accordion {
    background-color: transparent;
    color: #444;
    font-weight: bolder;
    cursor: pointer;
    padding: 18px;
    width:55%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s;
    border: 1px solid #ccc;
  
  }

  
  .active1, .accordion:hover {
    background-color: #ccc; 
    
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #ccc;
    overflow: hidden;
    width: 55%;
    color: #121212;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active1:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  
  #cs {
    padding-bottom: -300px;
    margin-bottom: -205px;
    z-index: 1000;
    overflow-x: hidden;
  }
  
/* Proj photo*/ 


body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.img-container {
  position: absolute;
  
}

/* Hide the images by default */
.img-Slides {
  display: none;
  left: 150px;
  max-width: 710px;
  max-height: 460px;
  position: relative;
  overflow: hidden;
}

.img-btn {
  position: absolute;
  top: 150px;
  z-index: 1;
  display: block;
  right: 10;
  
}

@media (max-width: 940px){

      .img-btn {
        position: absolute;
        display: block;
      }
      .img-container {
        
      }

}


/* Add a pointer when hovering over the thumbnail images */
.img-cursor {
  cursor: pointer;

}
.img-row{ 
  padding: 100px;  
}

/* Next & previous buttons */
.img-prev,
.img-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 32px;
  margin-top: -50px;
  color: red;
  background-color: #ccc;
  border: 1px solid #121212;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-left: 20px;
}

/* Position the "next button" to the right */
.image-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.img-prev:hover,
.img-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #121212;
  font-size: 25px;
  padding: 8px 92px 0px -199;
  position: absolute;
  top: 0;
  z-index: 99;
  display: block;
}

/* Container for image text */
.img-caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.img-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.img-column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.img-demo {
  opacity: 0.6;
}

.img-active,
.img-demo:hover {
  opacity: 1;
}



/* ends here 4/13/21 4:55pm */

  

