
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
* {
	margin: 0;
    padding: 0;
    font-weight: bolder;
}

#cs {
  padding-top: -40px;
}
body {
  font-family: "Poppins", Arial, sans-serif;
  background: #121212;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  position: relative; }
  body:after {
    position: fixed;
    top: -150px;
    right: -50px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 600px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  body:before {
    position: fixed;
    top: 500px;
    left: -100px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); 
  }

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: transparent;}
#News {background-color: transparent;}
#Contact {background-color: transparent;}
#About {background-color: transparent;}



* {
  box-sizing: border-box
  }
  body {font-family: "Lato", sans-serif;
  
  }
  

  
  /* Style the tab */
  .skills-tab {
    float: left;
    border: 1px solid #ccc;
    background-color: transparent;
    width: 30%;
    height: 390px;
    
  }
  
  /* Style the buttons inside the tab */
  .skills-tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  a {
     text-align: justify;
  }
  
  /* Change background color of buttons on hover */
  .skills-tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .skills-tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .resume-tabcontent {
    
    padding: 0px 0px;
    border: 1px solid #ccc;
    width: auto;
    border-left: none;
    height: auto;
  }
  
  a {
    text-align: left;
  }
  
  .skills-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    padding: 0px;
    
  }
  
  .skills-grid-item {
    background-color: transparent;
    padding-left: 3px;
    margin-left: 10px;
    align: left;
  }