
.heading{
   
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 5rem;
}

.heading span{
    text-align: center;
    display: inline-block;

    font-size: 3vw;
    padding:.5rem 7rem;
    color:#fff;
    background:#171717;
    border:.2rem solid #f1f1f1;
    border-left-width: 2rem;
    border-right-width: 2rem;
    width: 50%;
    text-align: center;
}

.project-cap {
    justify-content: center;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    
}

@media (max-width: 768px){
    .project-cap {
        padding: 0 2rem 0 2rem;
    }
}

.review{
    min-height: 100vh;
}

.review .review-slider{
    margin:2rem auto;
    width:80%;
}

.review .review-slider .box{
    text-align: center;
    padding:2rem;
    margin:2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
}

.review .review-slider .box img{
    height:10rem;
    width:10rem;
    margin:1rem auto;
    border-radius: 50%;
    object-fit: cover;
}

.review .review-slider .box h3{
    color:#444;
    font-size: 2rem;
}

.review .review-slider .box p{
    color:#666;
    font-size: 1.5rem;
    padding:2rem;
}

.review .review-slider .box .stars i{
    color:var(--blue);
    font-size: 1.5rem;
}
.proj-name {
    font-size: 1.5vw;
}

.proj-details {
    font-size: 1vw;
}





em {
    opacity: 0;
    transition: all 5s ease-in-out;
    translate: translateY(50px);
    display: inline-block;
}

em.fadeAway {
    opacity: 1;
    color: 	rgb(211,211,211);
    transform: translateY(0px);
}


